<%= render 'nav' %>

<div class="container"> 
  <h1>Lista de artigos</h1>
  <table class="table table-bordered">
    <tr>
      <th colspan="4">Título</th>
    </tr>
   
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= link_to 'Mostrar', article_path(article), class: "btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_article_path(article), class: "btn btn-success" %></td>
        <td><%= link_to 'Apagar', article_path(article),
                method: :delete,
                data: { confirm: 'Tem certeza?' },
                class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </table>
</div>