<%= render 'nav' %>
<div class="container">
  <h2>
    <%= @article.title %>
  </h2>
  <div class="container col-md-8 col-md-offset-0" style="border-left: 1px solid;">
    <%= @article.text %>
    <br>
    <%= link_to 'Editar', edit_article_path(@article), class: "btn btn-info" %>
  </div>

  <div class="container col-md-5 col-md-offset-0">
    <h3>Comentários</h3>
    <%= render @article.comments %>

    <h4>Adicionar um comentário:</h4>
    <%= render 'comments/form' %>
  </div>
</div>